[submodule "KDEngine/vendor/GLFW"]
	path = KDEngine/vendor/GLFW
	url = https://github.com/KadyshevS/glfw
[submodule "KDEngine/vendor/glm"]
	path = KDEngine/vendor/glm
	url = https://github.com/KadyshevS/glm
[submodule "KDEngine/vendor/imgui"]
	path = KDEngine/vendor/imgui
	url = https://github.com/KadyshevS/imgui
[submodule "KDEngine/vendor/spdlog"]
	path = KDEngine/vendor/spdlog
	url = https://github.com/KadyshevS/spdlog
